/******************************************************************************
*                          Other CSS files                                    *
******************************************************************************/
/*@import 'pygment.css';*/
/*@import 'typogrify.css';*/
/******************************************************************************
*                          reset nebo normalize                               *
******************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic&subset=latin,latin-ext);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
/*ol, ul, li,*/
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

/*ol, ul {*/
/*  list-style: none; }*/

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/******************************************************************************
*                          Compass and Susy                                   *
******************************************************************************/
/*fancy-button ( color, font-size, border-radius, border-size ) */
/******************************************************************************
*                          Fonts                                              *
******************************************************************************/
/******************************************************************************
*                          Colors                                             *
******************************************************************************/
/*@include cs-test(cs-primary() cs-secondary() cs-tertiary() );*/
/******************************************************************************
*                           Grid                                              *
******************************************************************************/
/******************************************************************************
*                           Defaults                                          *
******************************************************************************/
/******************************************************************************
*                           Layout                                            *
******************************************************************************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  max-width: 100%;
  font-family: "Lora", Georgia, "DejaVu Serif", serif;
  font-size: 110%;
  max-width: 80em;
  line-height: normal;
  padding: 0px 20px; }


a {
  color: #00805b; }

a:hover {
  color: #438000; }

em {
  font-variant: small-caps; }

strong {
  font-weight: bold; }

p {
  margin-top: 2ex;
  margin-bottom: 2ex; }

main {
  margin-right: 1em;
  margin-left: 55%;
}

#logo {
    float: left;
    text-align: center;
    width: 50%;
}
#logo img {
    width: 100%;
    max-width: 553px;
    margin-left: auto;
    margin-right: auto;
}



h1, h2, h3, h4, h5, h6 {
  /*font-family: $font_nadpis;*/
  font-weight: bold;
  color: green;
  margin-top: 1em;
  margin-bottom: 1ex; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: green; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.3em;
  color: #00805b; }

h5 {
  font-size: 1.15em; }

h6 {
  font-size: 1em; }

.flashed {
    color: coral;
}
.rust {
    text-align: right;
    color: #00805b;
    margin-right: 3em;
}
footer {
    text-align: center;
    clear: both;
    padding-top: 2em;
    padding-bottom: 1em;
}

@media screen and (max-width: 800px) {
    #logo {
        float: none;
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    main {
        margin-left: 1em;
        margin-right: 1em;
    }
}

/*-----------------------------------------------------------------------------
vim:nowrap:
*/

/*# sourceMappingURL=styles.css.map */
