<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8" />

  <title>{%block title%}OpenZone{% endblock %}</title>

  <meta name="description" content="... místo pro setkávání, sdílení, 
     diskusi a růst" />
  <meta name="author" content="MarrekNozka" />

  <link rel="stylesheet"
        href="{{ url_for('static', filename='styles.css') }}" />
  <link rel="shortcut icon"
        href="{{ url_for('static', filename='favico.png') }}" />


  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
  <p id="logo">
    <img src="{{url_for('static', filename='logo.png')}}"
         alt="" /><br />
  <a href="https://gitlab.com/openzone">https://GitLab.com/OpenZone</a>
  </p>

  <main>
  <h1>OpenZone</h1>

  <p class="rust">... otevřené místo pro setkávání, sdílení, 
     diskusi a <strong>růst</strong>.</p>


  {% block obsah %}

{% filter markdown %}
Pravidelná setkávání
--------------------

* Úterý po 6. a 7. vyučovací hodině
* cca 14:00
* LP6


Nabídka Workshopů
-----------------

Práce se odehrávají formou workshopů, do kterých se každý účastník přihlašuje
dle svého zájmu. Wokshop končí vyčerpáním tématu nebo účastníků.

### Přehled oblastí pro wokshopy:

 *  programování v jazyce Python
  * grafické aplikace
  * objektové hry
 *  programování webových stránek 
  * frontend 
  * backend
 *  programování mikro-kontrolérů v jazyce C
 *  3D tisk
 *  operační systém Linux
 *  robotika

### Téma pro září 2021: 

Tvorba tohoto webu pro OpenZone s hlasovací anketou.

## Komunikace

* <https://discord.gg/wWBuHHhSVC>
* <https://t.me/joinchat/Ut4LHWMsb3qSnVEM>


{% endfilter %}


<h2>Registrace pro zasílání novinek</h2>

  <form action="{{url_for('saveemail')}}" method="post">
    e-mail pro zasílání novinek (a registrace pro možnost hlasování):<br />
    <input type="text" name="email" value="{{request.args.get('email') or ''}}"/>
    <input type="submit" name="submit" />
  </form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="flashed">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}


  {% endblock obsah %}
  </main>

  <footer> 
    <a href="https://cs.wikipedia.org/wiki/Copyleft">&#x1f12f;</a>
    Marrek Nožka</footer>

</body>
</html >
